@font-face {
  font-family: 'pokemon';
  src: url('../fontes/Pokemon Solid.ttf'); 
}

@font-face {
  font-family: 'command';
  src: url('../fontes/PILOT_COMMAND.otf');
}

@font-face {
  font-family: 'akshar';
  src: url('../fontes/Akshar-Regular.ttf');
}